


/* Start:/bitrix/templates/.default/components/bitrix/system.auth.form/head-login-form/style.css*/
#header .open-inf-right-menu{color: #ffffff;font-size: 26px;height: 48px;vertical-align: middle;display: inline-block;line-height: 48px;width: 48px;text-align: center;float: right;cursor: pointer;transition:all .5s;}
@media (max-width: 450px) {
    #header .open-inf-right-menu{width: 36px;}
}
.open-inf-right-menu:hover{box-shadow: inset 1px 1px 10px #293e6b;}
#inf-right-menu > .inf-right-menu-wrap{-webkit-overflow-scrolling: touch;overflow-y: auto;overflow-x:hidden; position: fixed;display: block;right: 0;top: 0;background-color: #f6f6f6;height: 100%;width: 300px;z-index: 9999;box-shadow: 0 0 11px #484848;}
#inf-right-menu > .inf-right-menu-overlay{position: fixed;width: 100%;height: 100%;background: rgba(60, 60, 60, 0.5);top: 0;left: 0;z-index: 9999;overflow: hidden;}
.inf-right-menu-wrap .inf-right-menu-head{width: 200px;margin: 20px auto;text-align: center;}
.inf-right-menu-wrap .inf-right-menu-head .inf-right-menu-avatar{width: 130px;height: 130px;background-size: cover !important;margin: 8px auto 12px auto;border-radius: 16px;display: block;}
.inf-right-menu-wrap .inf-right-menu-head .inf-right-menu-name{color: #a1a1a3;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.inf-right-menu-wrap .inf-right-menu-head .inf-right-menu-login{color: #2c2d31;font-weight: bold;font-size: 18px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.inf-right-menu-wrap .inf-right-menu-items{background: #ffffff;padding: 0;margin: 0 0 14px 0;list-style: none;border-top:1px solid #d8d8d8;}
.inf-right-menu-wrap .inf-right-menu-items > li{padding: 6px 0;border-bottom: 1px solid #f8f8f8;transition: all .5s;position: relative;}
.inf-right-menu-wrap .inf-right-menu-items > li:hover{background-color: #f9f9f9;}
#inf-right-menu .inf-right-menu-wrap .inf-right-menu-items > li > i.fa{font-size: 16px;width: 60px;text-align: center;color: #3b5998;position: absolute;left: 0;margin-top: 3px;}
.inf-right-menu-wrap .inf-right-menu-items > li  a{text-decoration: none;padding-left: 60px; display: inline-block;width: 235px;position: relative;color:#2d2e32;font-size: 13px; }
.inf-right-menu-wrap .inf-right-menu-items > li  a:before{display: block;position: absolute;border-bottom: 1px solid #d9d9d9;content: ' ';width: 100%;bottom: -8px;}
.inf-right-menu-wrap .inf-right-menu-items > li:last-child, #inf-right-menu .inf-right-menu-items li:last-child > a:before{border: none;}
.inf-right-menu-wrap .inf-right-sub-menu{list-style: none;margin: 6px 0 0 12px;padding: 0;}
    .inf-right-menu-wrap .inf-right-sub-menu li{padding: 6px 0;}

.inf-right-menu-wrap .inf-right-menu-head .inf-right-menu-login, .inf-right-menu-wrap .inf-right-menu-head .inf-right-menu-name{width: 260px;text-align: center;margin-left: -30px;}
#inf-right-menu .inf-right-menu-close{position: absolute;left: 12px;top: 6px;font-size: 25px;color: #d0d0d0;cursor: pointer;transition: all .5s;}
#inf-right-menu .inf-right-menu-close:hover{color: #2c2d31;}


/* End */



/* Start:/bitrix/components/infostart/messenger/templates/min/style.css*/
#NotifyBubble{
    height: 382px;
	top: auto;
	left: auto;
    margin-left: -271px;
	margin-top: 20px;
}

/*#NotifyBubble.ajax-dropdown:before {
    left: auto;
    right: 38px;
}
#NotifyBubble.ajax-dropdown:after {
    left: auto;
    right: 39px;
}*/
#NotifyBubble {
	-webkit-animation-name: flipInY;
	-moz-animation-name: flipInY;
	-o-animation-name: flipInY;
	animation-name: flipInY;
	-webkit-animation-duration: .7s;
	-moz-animation-duration: .7s;
	-o-animation-duration: .7s;
	animation-duration: .7s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
#NotifyBubble > a.integ{display: block; max-width: 100%;}
#NotifyBubble > a.integ img{text-align: center;display: inline-block;max-width: 100%;}
#NotifyBubble .btn.btn-xs {
    margin:0 !important;
}
#NotifyBubble .btn-group{
	margin-bottom: 10px;
}
#NotifyBubble li{
	width: 100%;
	overflow: hidden;
	max-height: 110px;
}
#NotifyBubble li .close_btn{
	width: 0px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	font-size: 20px;
	background-color: #d9534f;
	color: #fff;
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#NotifyBubble li .from{
	margin-right: 70px;
}
#NotifyBubble li span{
	transition: all .15s linear;
}
/*#NotifyBubble li:hover span{
	margin-right: 40px;
}*/
#NotifyBubble li .close_btn{
	transition: all .15s linear;
}
/*#NotifyBubble li:hover .close_btn{
	width: 40px;
}*/
#NotifyBubble .msg-body{
	line-height: 18px;
	margin-top: -5px;
	min-height: 40px;
	max-height: 72px;
	white-space: normal;
}
#NotifyBubble .msg-body a{
	display: inline;
}
#NotifyBubble .msg-notify-body{
	margin-top: 22px;
	margin-left: -50px;
	width: calc(100% + 50px);
}
#NotifyBubble .notification-body>li span div, #NotifyBubble .notification-body>li span div span {
	display: block;
	position: relative;
	overflow: hidden;
}
#NotifyBubble .notification-body{
	padding-left: 0;
}
.notification-body>li span div.msg {
	padding-left: 50px!important;
}
#NotifyBubble .btn-header span a{
	margin-top: 0px !important;
}
#NotifyBubble.ajax-dropdown:before {
    left: auto;
    right: 38px;
}
#NotifyBubble.ajax-dropdown:after {
    left: auto;
    right: 39px;
}
#NotifyBubble div.msg {
	cursor: pointer;
}
@media (min-width:450px) {
    #NotifyBubble.ajax-dropdown:before {
        right: 50px;
    }
    #NotifyBubble.ajax-dropdown:after {
        right: 51px;
    }
}
@media (max-width:479px) {
	#NotifyBubble {
		width: calc(100% - 10px);
		right: 5px;
	}
	#NotifyBubble .btn-group label{
		padding: 6px 3px;
	}
    #NotifyBubble .ajax-notifications{
        height: 230px !important;
    }
}
@media (min-width:480px){
    #NotifyBubble{
        height: 510px;
        width: 344px;
    }
}
@media (min-width:768px) {
    #NotifyBubble{
        margin-left: -216px;
    }
    #NotifyBubble.ajax-dropdown:before {
        right: 105px;
    }
    #NotifyBubble.ajax-dropdown:after {
        right: 106px;
    }
}



.bell{
	-webkit-animation: ring 4s .7s ease-in-out infinite;
	-webkit-transform-origin: 50% 4px;
	-moz-animation: ring 4s .7s ease-in-out infinite;
	-moz-transform-origin: 50% 4px;
	animation: ring 4s .7s ease-in-out infinite;
	transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
	0% { -webkit-transform: rotateZ(0); }
	1% { -webkit-transform: rotateZ(30deg); }
	3% { -webkit-transform: rotateZ(-28deg); }
	5% { -webkit-transform: rotateZ(34deg); }
	7% { -webkit-transform: rotateZ(-32deg); }
	9% { -webkit-transform: rotateZ(30deg); }
	11% { -webkit-transform: rotateZ(-28deg); }
	13% { -webkit-transform: rotateZ(26deg); }
	15% { -webkit-transform: rotateZ(-24deg); }
	17% { -webkit-transform: rotateZ(22deg); }
	19% { -webkit-transform: rotateZ(-20deg); }
	21% { -webkit-transform: rotateZ(18deg); }
	23% { -webkit-transform: rotateZ(-16deg); }
	25% { -webkit-transform: rotateZ(14deg); }
	27% { -webkit-transform: rotateZ(-12deg); }
	29% { -webkit-transform: rotateZ(10deg); }
	31% { -webkit-transform: rotateZ(-8deg); }
	33% { -webkit-transform: rotateZ(6deg); }
	35% { -webkit-transform: rotateZ(-4deg); }
	37% { -webkit-transform: rotateZ(2deg); }
	39% { -webkit-transform: rotateZ(-1deg); }
	41% { -webkit-transform: rotateZ(1deg); }

	43% { -webkit-transform: rotateZ(0); }
	100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
	0% { -moz-transform: rotate(0); }
	1% { -moz-transform: rotate(30deg); }
	3% { -moz-transform: rotate(-28deg); }
	5% { -moz-transform: rotate(34deg); }
	7% { -moz-transform: rotate(-32deg); }
	9% { -moz-transform: rotate(30deg); }
	11% { -moz-transform: rotate(-28deg); }
	13% { -moz-transform: rotate(26deg); }
	15% { -moz-transform: rotate(-24deg); }
	17% { -moz-transform: rotate(22deg); }
	19% { -moz-transform: rotate(-20deg); }
	21% { -moz-transform: rotate(18deg); }
	23% { -moz-transform: rotate(-16deg); }
	25% { -moz-transform: rotate(14deg); }
	27% { -moz-transform: rotate(-12deg); }
	29% { -moz-transform: rotate(10deg); }
	31% { -moz-transform: rotate(-8deg); }
	33% { -moz-transform: rotate(6deg); }
	35% { -moz-transform: rotate(-4deg); }
	37% { -moz-transform: rotate(2deg); }
	39% { -moz-transform: rotate(-1deg); }
	41% { -moz-transform: rotate(1deg); }

	43% { -moz-transform: rotate(0); }
	100% { -moz-transform: rotate(0); }
}

@keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(30deg); }
	3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	9% { transform: rotate(30deg); }
	11% { transform: rotate(-28deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }

	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
}
/* End */



/* Start:/bitrix/templates/adaptive/template_styles.css*/
.header-timer-wrap{color: #ffffff;display: block;  padding: 6px 12px;  margin-bottom: 0;  font-size: 13px;  font-weight: normal;  line-height: 1.42857143;  margin-top: 8px;  float: right;}
.header-timer-wrap > div{display: inline-block;}
.header-timer-wrap .countdown-section:nth-child(1){padding-right: 6px;}
.text-orange{color: #fd6d07;}
.page-footer{padding-left: 220px;}@media (max-width:979px){.page-footer{padding:15px 0 0 0}.page-footer .footer-adpt .footer-adpt-top{padding:0;}.page-footer .footer-adpt .footer-adpt-bottom{padding: 0;}}.footer-adpt .footer-adpt-top{width:100%;background-color:#fff;padding:30px}.footer-adpt .footer-adpt-bottom{width:100%;background-color:#f7f8f9;padding:30px}.footer-adpt ul{margin:0;padding:0;list-style:none}/*.footer-adpt ul>li:first-child{height:38px;font-size:13px;font-weight:700;padding-bottom:10px}*/.footer-adpt .footer-adpt-bottom ul>li:first-child{height:auto}.footer-app-android,.footer-app-ios{display:inline-block;width:130px;height:40px}.footer-adpt ul>li{overflow:hidden;text-overflow:ellipsis;padding:6px 0}.footer-adpt ul>li,.footer-adpt ul>li a{color:#3b5998;text-decoration:none}.footer-adpt ul>li a:hover{text-decoration:underline}.footer-adpt ul>li a.btn{color:#fff;overflow:hidden;text-overflow:ellipsis;max-width:100%}.footer-adpt ul>li a.btn:hover{text-decoration:none;color: #ffffff !important;}.footer-adpt ul>li.black{color:#555}.footer-adpt .footer-soc-button{margin-bottom:16px}.footer-adpt .footer-soc-button a{font-size:28px;color:#b5bfc9;text-decoration:none;margin:0 12px 12px 0}.footer-adpt .footer-soc-button a:hover{color:#3b5998 !important;}.footer-adpt .light{color:#9aa2aa;font-size:12px}.footer-app-ios{background:url(/bitrix/templates/adaptive/img/apps_sprite.png) top left no-repeat}.footer-app-ios:hover{background-position:0 -40px}.footer-app-android{background:url(/bitrix/templates/adaptive/img/apps_sprite.png) -130px 0 no-repeat}.footer-app-android:hover{background-position:-130px -40px}.footer-adpt .footer-app-wrap{margin:26px 0}@media(max-width:1200px){.footer-adpt .col-sm-4{width:33.33333333%;padding-bottom:20px}.footer-adpt .special-clear{clear:both}.footer-adpt ul>li:first-child{height:auto}.col-sm-12{width:100%}}@media(max-width:600px){.footer-adpt .col-xs-6{width:50%}.footer-adpt .special-clear-xs{clear:both}.footer-adpt .special-clear{clear:none}}
a[rel=yellow]{background-color: #face1f !important;}
@media (max-device-width: 1024px){.touch-scroll {  height: 100vh;  overflow-y: scroll;  -webkit-overflow-scrolling: touch;  }  html{ touch-action: manipulation  }  }
.get-user-info .close{
    position: absolute;
    top: 1px;
    right: 6px;
}
.get-user-info{
    position: absolute;
    background: #ffffff;
    padding: 15px;
    box-shadow: 0 0 12px #ccc;
    z-index: 999;
    border-radius: 4px;
}
.get-user-info .user-left-side{
    float: left;
    width: 130px;
    text-align: center;
    margin-right: 15px;
}
.get-user-info .user-right-side{
    float: right;
    text-align: left;
}
.get-user-info .user-left-side img{
    max-height: 150px;
    max-width: 100%;
    box-shadow: 0 2px 4px #ccc;
    padding: 4px;
}
.get-user-info .user-left-side .rating{
    font-size: 20px;
    margin-top: 8px;
}
.get-user-info .user-left-side .rating +p{
    color: #777;
}
.get-user-info .add-friend-btn{
    padding: 6px 0;
    margin-top: 10px;
}
[data-action=get-user-info]{cursor: pointer;}

.smart-form .button, .smart-form .toggle i:before{background-color: #f5f5f5;color: #000;}

.table>tbody>tr>td.middle{vertical-align: middle;}
.smart-style-2 .well.inf-promo-item{
    background: #f5f5f5;
}
.inf-promo-wrap{text-align: center;}
.inf-promo-item{display: inline-block;vertical-align: top;width: 100%;text-align: left;height: 300px;overflow: hidden;padding-top: 0;}
.inf-promo-text{height: 102px;}
.inf-promo-item-desc{font-size: 12px;height: 64px;display: none;}
.inf-promo-item:after{content:'';position: absolute;bottom: 0;left: 0;width: 100%;height: 70px;
    background: rgba(255,255,255,0.85);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.90) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.90)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.90) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.90) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.90) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.90) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );}
.inf-promo-item-img{text-align: center; padding-top: 10px;display: block}
.inf-promo-item-img img{max-width: 100%;display: inline-block;height: 150px;}
.inf-promo-item-price{font-weight: 700;position: relative;z-index: 2;display: block;    margin-top: -10px;}


body div.BPMRenewTask{padding: 6px 10px;border: 0;margin: 10px 0 0 0;overflow: hidden;}
body div.BPMRenewTask .bpm-task-title{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100%;display: block;    margin: 6px 0;}


.fa.fa-ie2018 {
    margin-bottom: -2px;
    background-image: url(/bitrix/templates/adaptive/img/ie2018_v2.1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 23px;
    height: 20px;
    content: ' ';
}
.fa.fa-gmail {
    margin-bottom: -2px;
    background-image: url(/bitrix/templates/adaptive/img/gmail.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    content: ' ';
    background-size: contain;
}

.footer-adpt .footer-soc-button a.fa.fa-zen{
    margin-bottom: -2px;
    margin-top: 1px;
    background: url("/bitrix/templates/adaptive/img/zen.png") no-repeat center center;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.footer-adpt .footer-soc-button a.fa.fa-zen:hover{
    background-image: url("https://infostart.ru/bitrix/templates/adaptive/img/zen_h.png");
}
/* End */



/* Start:/bitrix/templates/adaptive/js/plugin/OwlCarousel/owl.carousel.css*/
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("/bitrix/templates/adaptive/js/plugin/OwlCarousel/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/* End */



/* Start:/bitrix/templates/adaptive/js/plugin/OwlCarousel/owl.theme.css*/
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

/* End */
/* /bitrix/templates/.default/components/bitrix/system.auth.form/head-login-form/style.css */
/* /bitrix/components/infostart/messenger/templates/min/style.css */
/* /bitrix/templates/adaptive/template_styles.css */
/* /bitrix/templates/adaptive/js/plugin/OwlCarousel/owl.carousel.css */
/* /bitrix/templates/adaptive/js/plugin/OwlCarousel/owl.theme.css */
